* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
